* {
    box-sizing: border-box;
    margin: 0;
    font-size: 40px;
    color: #FFE6E8;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #475C7A;
}

#calulatorDisplay {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    width: 50%;
    text-align: center;
}

button#del {
    margin: 0;
}

input {
    width: 100%;
    border: none;
    padding: 20px;
    border: 4px inset #AB6C82;
    color: rgb(37, 36, 36);
}

button {
    height: 100px;
    width: 33.33%;
    border: 4px outset #AB6C82;
    background-color: #685D79 ;
}

button:hover {
    border: none;
}

button.operator:focus {
    background-color: #CC2A49 ;
}

button.number {
    background-color: #D8737F;
    border: 4px outset #AB6C82;
}

button.number:hover {
    background-color: #52AD9C;
    border: none;
}

button#clear:hover, button#del:hover {
    background-color: #CC2A49;
}

button#equals {
    background-color: #FCBB6D ;
}

#left button, #right button {
    width: 100%;
}

#zero {
    width: calc(100% - 33.33%);
}

#equals {
    height: 200px; 
}

#calculator {
    display: flex;
    width: 100%;
    justify-content: center;
}

#left, #middle, #right {
    display: flex;
    flex-direction: column;
}

#middle {
    width: 30%;
    flex-direction: row;
    flex-wrap: wrap;
}

#left, #right {
    width: 10%;
}

@media (max-width: 900px) {
    /* initial values for reference */
    /* #left, #right {
        width: 10%;
    }

    #middle {
        width: 30%;
    }

    #calulatorDisplay {
        width: 50%;
    } */

    *{
        font-size: 30px;
    }
    
    #left, #right {
        width: 16%;
    }
    #middle {
        width: 48%;
    }
    #calulatorDisplay {
        width: 80%;
    }

}

@media (max-width: 670px) {
    *{
        font-size: 20px;
    }
    
    #left, #right {
        width: 20%;
    }
    #middle {
        width: 60%;
    }
    #calulatorDisplay {
        width: 100%;
    }

}